[user]
  email = johnpyp.dev@gmail.com
  name = johnpyp
[alias]
  co = checkout
  lg = log --graph --decorate --oneline --branches
  # `--force-if-includes` fixes dumb behavior with `--force-with-lease`
  # it makes sure you **integrated** fetched commits, not just fetched them.
  pushf = push --force-with-lease --force-if-includes
[difftool]
  prompt = false
[pull]
  rebase = true
[core]
  editor = nvim
[push]
	default = current
  # `--force-if-includes` fixes dumb behavior with `--force-with-lease`
  # it makes sure you **integrated** fetched commits, not just fetched them.
	useForceIfIncludes = true
[delta]
	side-by-side = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
# clone https github urls as ssh instead
[url "git@github.com:"]
	insteadof = https://github.com/

# get rid of useless stale remote refs
# (doesn't get rid of local changes or anything)
[remote "origin"]
	prune = true

# use riff for diffs, which shows diffs within lines as well
# much more readable
[pager]
	diff = riff
	show = riff
	log = riff
[diff]
  tool = riff
[interactive]
	diffFilter = riff
