[user]
  email = 20625636+johnpyp@users.noreply.github.com
  name = johnpyp
[alias]
  co = checkout
  ci = commit
  czp = cz && git pu
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  pu = push
  lg = log --graph --decorate --oneline --branches
  pn = log --oneline --decorate --graph
  chlogm = !sh -c 'git log $1...$2  --pretty=format:\"%s [view commit](http://github.com/$3/$4/commit/%H) \"' -
  d = difftool
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[pull]
  rebase = true
[core]
  editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
