set ideajoin

let mapleader = " "
nnoremap <Leader>y  "+y
nnoremap <Leader>p  "+p
nnoremap <Leader>n  :action ActivateProjectToolWindow<CR>
nnoremap <Leader>N  :action HideSideWindows<CR>
nnoremap <Leader>r  :action Run<CR>
nnoremap <Leader>ve :e ~/.ideavimrc<CR>
nnoremap <Leader>vs :source ~/.ideavimrc<CR>
nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR>
nnoremap <C-n> :action ActivateProjectToolWindow<CR>

nnoremap <leader>f :action GotoFile<CR>

nnoremap <leader>q :q<CR>
nnoremap <leader>Q :action CloseAllEditorsButActive<CR>

nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>cd :action GotoDeclaration<CR>
nnoremap <leader>cD :action GotoTypeDeclaration<CR>
nnoremap <leader>co :action OptimizeImports<CR>
nnoremap <leader>cr :action RenameElement<CR>
nnoremap <leader>ce :action ShowErrorDescription<CR>
nnoremap <leader>e :nohl<CR>
nnoremap <leader>o :action ParameterInfo<CR>

nnoremap F :action ReformatCode<CR>
nnoremap K :action QuickJavaDoc<CR>

inoremap <C-space> <C-o>:action CodeCompletion<CR>

inoremap <silent><expr> <TAB> pumvisible() ? "\<C-n>" : "<TAB>"

inoremap <silent><expr> <S-TAB> pumvisible() ? "\<C-p>" : "\<S-TAB>"

" function! s:check_back_space() abort
"   let col = col('.') - 1
"   return !col || getline('.')[col - 1]  =~# '\s'
" endfunction

