set ideajoin

let mapleader = " "
noremap <Leader>y  "+y
noremap <Leader>p  "+p
noremap <Leader>n  :action ActivateProjectToolWindow<CR>
noremap <Leader>N  :action HideSideWindows<CR>
noremap <Leader>r  :action Run<CR>
noremap <Leader>ve :e ~/.ideavimrc<CR>
noremap <Leader>vs :source ~/.ideavimrc<CR>
nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR>
nnoremap <C-n> :action ActivateProjectToolWindow<CR>

nnoremap <leader>f :action GotoFile<CR>

nnoremap <leader>q :q<CR>
nnoremap <leader>Q :action CloseAllEditorsButActive<CR>

nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>cd :action GotoDeclaration<CR>
nnoremap <leader>cD :action GotoTypeDeclaration<CR>
nnoremap <leader>co :action OptimizeImports<CR>
nnoremap <leader>cr :action RenameElement<CR>
nnoremap <leader>ce :action ShowErrorDescription<CR>
nnoremap <leader>e :nohl<CR>

nnoremap F :action ReformatCode<CR>
nnoremap K :action QuickJavaDoc<CR>

