! Use a nice truetype font and size by default... 
xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 11

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! DOS-box colours...
xterm*foreground: rgb:a8/a8/a8
xterm*background: rgb:00/00/00
xterm*color0: rgb:00/00/00
xterm*color1: rgb:a8/00/00
xterm*color2: rgb:00/a8/00
xterm*color3: rgb:a8/54/00
xterm*color4: rgb:00/00/a8
xterm*color5: rgb:a8/00/a8
xterm*color6: rgb:00/a8/a8
xterm*color7: rgb:a8/a8/a8
xterm*color8: rgb:54/54/54
xterm*color9: rgb:fc/54/54
xterm*color10: rgb:54/fc/54
xterm*color11: rgb:fc/fc/54
xterm*color12: rgb:54/54/fc
xterm*color13: rgb:fc/54/fc
xterm*color14: rgb:54/fc/fc
xterm*color15: rgb:fc/fc/fc

! right hand side scrollbar...
xterm*rightScrollBar: true
xterm*ScrollBar: true

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

Zutty.title:                   Zutty
! Zutty.geometry:                120x45
Zutty.altScroll:               true
Zutty.boldColors:              false
Zutty.font:                    JetBrainsMono Mono Nerd Font
Zutty.fontsize:                12
! Zutty.fontpath:                /usr/share/fonts
! Zutty.fg:                      #00ff80
! Zutty.bg:                      #234
! Zutty.cr:                      #0f0


! Based on https://github.com/catppuccin/catppuccin/blob/0392d297bb38554d571021932e95cd590e71df40/README.md

!!
! Special colors
!!

! From Text
Zutty.fg: #cad3f5

! From Base
Zutty.bg: #24273a

! From Rosewater
Zutty.cr: #f4dbd6

!!
! Base palette colors
!!

! Black from Surface1
Zutty.color0: #494d64
Zutty.color8: #494d64

! Red
Zutty.color1: #ed8796
Zutty.color9: #ed8796

! Green
Zutty.color2: #a6da95
Zutty.color10: #a6da95

! Yellow
Zutty.color3: #eed49f
Zutty.color11: #eed49f

! Blue
Zutty.color4: #8aadf4
Zutty.color12: #8aadf4

! Magenta from Pink
Zutty.color5: #f5bde6
Zutty.color13: #f5bde6

! Cyan from Sky
Zutty.color6: #91d7e3
Zutty.color14: #91d7e3

! White from Text
Zutty.color7: #cad3f5
Zutty.color15: #cad3f5
Footer
