[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
	ignore = dirty
[submodule "dots/nvim/ls/lua-language-server"]
	path = dots/nvim/ls/lua-language-server
	url = git@github.com:sumneko/lua-language-server.git
[submodule "dots/nvcode"]
	path = dots/nvcode
	url = git@github.com:ChristianChiarulli/nvcode.git
[submodule "gmodules/tpm"]
	path = gmodules/tpm
	url = git@github.com:tmux-plugins/tpm
[submodule "gmodules/polybar-scripts"]
	path = gmodules/polybar-scripts
	url = git@github.com:polybar/polybar-scripts.git
	ignore = dirty
